<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pdatao.api.dao.GiftMapper">
    
    <select id="getGiftList" resultType="com.pdatao.api.entity.Gift">
       select id ,
              gift_type as giftType,
              gift_name as giftName,
              gift_code as giftCode,
              gift_image as giftImage,
              status ,
              gift_stock as giftStock,
              create_user as createUser,
              goods_id as goodsId,
              shopId,
  			  shop_name as shopName,
              gift_available_nul as giftAvailableNul,
              create_date as createDate,
              update_date as updateDate
        from tb_gift
        where gift_stock>0
        limit #{pageSize},#{pageCount}
    </select>
    <select id="getGiftCount" resultType="java.lang.Integer">
    	select count(1) as total from tb_gift where gift_stock>0
    </select>
    <update id="updateDjGift">
    	update tb_gift set gift_stock  = gift_stock - 1
    	where id =#{id}
    </update>
    
    <select id="getGift" resultType="com.pdatao.api.entity.Gift">
       select id ,
              gift_type as giftType,
              gift_name as giftName,
              gift_code as giftCode,
              gift_image as giftImage,
              status ,
              gift_stock as giftStock,
              shopId,
  			  shop_name as shopName,
              create_user as createUser,
              goods_id as goodsId,
              gift_available_nul as giftAvailableNul,
              create_date as createDate,
              update_date as updateDate
        from tb_gift
        where id =#{id}
    </select>

</mapper>